<!-- HEADER STRIP -->
<div id="header-strip">
  <div class="container">
    <h1>Login</h1>
   </div>
</div>
<!-- /HEADER STRIP -->


<div class="band login">
	<div class="container">
		 <form class="login-form">
    	<input type="text" placeholder="Your email address">
    	<input type="text" placeholder="Your password">
    	<input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="#">Sign up</a>
	</div>
</div>